<!DOCTYPE html>
<html>
<head>
  <title>Semantic Items</title>
  <link rel="stylesheet" type="text/css" href="../../semantic/dist/semantic.min.css">
  <script src="../../semantic/dist/semantic.min.js"></script>
</head>
<body>
  <h1>Items</h1>
  <div class="ui divider"/>

<div class="ui items">
  <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">Header</a>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        Additional Details
      </div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">Header</a>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        Additional Details
      </div>
    </div>
  </div>
</div>

<div class="ui divided items">
  <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
  </div>
</div>

<div class="ui divided items">
  <div class="item">
    <div class="ui tiny image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="middle aligned content">
      Content A
    </div>
  </div>
  <div class="item">
    <div class="ui tiny image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="middle aligned content">
      Content B
    </div>
  </div>
  <div class="item">
    <div class="ui tiny image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="middle aligned content">
      Content C
    </div>
  </div>
</div>

<div class="ui items">
  <div class="item">
    <div class="ui tiny image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="middle aligned content">
      <a class="header">12 Years a Slave</a>
    </div>
  </div>
  <div class="item">
    <div class="ui tiny image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="middle aligned content">
      <a class="header">My Neighbor Totoro</a>
    </div>
  </div>
  <div class="item">
    <div class="ui tiny image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="middle aligned content">
      <a class="header">Watchmen</a>
    </div>
  </div>
</div>

<div class="ui items">
  <div class="item">
    <div class="ui small image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <div class="header">Arrowhead Valley Camp</div>
      <div class="meta">
        <span class="price">$1200</span>
        <span class="stay">1 Month</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <div class="header">Buck's Homebrew Stayaway</div>
      <div class="meta">
        <span class="price">$1000</span>
        <span class="stay">2 Weeks</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <div class="header">Astrology Camp</div>
      <div class="meta">
        <span class="price">$1600</span>
        <span class="stay">6 Weeks</span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
</div>

<div class="ui yellow message">
  <i class="star icon"></i>
  To make the entire content of a item link, check out the link variation below
</div>
<div class="ui items">
  <div class="item">
    <a class="ui tiny image">
      <img src="/images/avatar/large/stevie.jpg">
    </a>
    <div class="content">
      <a class="header">Stevie Feliciano</a>
      <div class="description">
        <p>Stevie Feliciano is a <a>library scientist</a> living in New York City. She likes to spend her time reading, running, and writing.</p>
      </div>
    </div>
  </div>
  <div class="item">
    <a class="ui tiny image">
      <img src="/images/avatar/large/veronika.jpg">
    </a>
    <div class="content">
      <a class="header">Veronika Ossi</a>
      <div class="description">
        <p>Veronika Ossi is a set designer living in New York who <a>enjoys</a> kittens, music, and partying.</p>
      </div>
    </div>
  </div>
  <div class="item">
    <a class="ui tiny image">
      <img src="/images/avatar/large/jenny.jpg">
    </a>
    <div class="content">
      <a class="header">Jenny Hess</a>
      <div class="description">
        <p>Jenny is a student studying Media Management at <a>the New School</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="ui items">
  <div class="item">
    <a class="ui small image">
      <img>
    </a>
    <div class="content">
      <a class="header">Cute Dog</a>
      <div class="description">
        <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
        <p>Many people also have their own barometers for what makes a cute dog.</p>
      </div>
    </div>
  </div>
</div>

<div class="ui items">
  <div class="item">
    <a class="ui tiny image">
      <img src="/images/avatar/large/jenny.jpg">
    </a>
    <div class="middle aligned content">
      <div class="header">
        <i class="like icon active"></i>
        Veronika Ossi
      </div>
    </div>
  </div>
  <div class="item">
    <a class="ui tiny image">
      <img src="/images/avatar/large/justen.jpg">
    </a>
    <div class="middle aligned content">
      <div class="header">
        <i class="favorite icon"></i>
        Justen Kitsune
      </div>
    </div>
  </div>
</div>

<div class="ui divided items">
  <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">12 Years a Slave</a>
      <div class="meta">
        <span class="cinema">Union Square 14</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        <div class="ui label">IMAX</div>
        <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">My Neighbor Totoro</a>
      <div class="meta">
        <span class="cinema">IFC Cinema</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        <div class="ui right floated primary button">
          Buy tickets
          <i class="right chevron icon"></i>
        </div>
        <div class="ui label">Limited</div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">Watchmen</a>
      <div class="meta">
        <span class="cinema">IFC</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        <div class="ui right floated primary button">
          Buy tickets
          <i class="right chevron icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui items">
  <div class="item">
    <div class="ui small image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="middle aligned content">
      <div class="header">
        Content A
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        <div class="ui right floated button">
          Action
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="middle aligned content">
      <div class="header">
        Content B
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        <div class="ui right floated button">
          Action
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="middle aligned content">
      <div class="header">
        Content C
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        <div class="ui right floated button">
          Action
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>